{
  "root": true,
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["@typeofweb", "@next/next"],
  "extends": ["next", "plugin:@typeofweb/recommended"],
  "overrides": [
    {
      "files": ["pages/**/*.tsx", "pages/**/*.ts"],
      "rules": {
        "import/no-default-export": 0
      }
    }
  ]
}
