{
  "root": true,
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["@typeofweb"],
  "extends": ["plugin:@typeofweb/recommended", "next/core-web-vitals"],
  "rules": {
    "unicorn/prefer-module": 0
  },
  "overrides": [
    {
      "files": ["pages/**/*.tsx", "pages/**/*.ts"],
      "rules": {
        "import/no-default-export": 0
      }
    }
  ]
}
