@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden;
}

body,
html,
#__next {
  @apply w-full max-w-full min-h-full bg-gray-200;
}

#__next {
  background-image: url('./images/bg-typeofweb.svg');
  background-repeat: repeat;
  background-size: 106px;
  background-position: center -15px;
}

.icon.icon-link {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='rgb(138,138,138)'%3E%3Cpath fill-rule='evenodd' d='M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z' clip-rule='evenodd' /%3E%3C/svg%3E");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 25px;
  height: 20px;
  margin-left: -25px;
  padding-right: 5px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-in;

  @nest :is(h1, h2, h3, h4):hover & {
    opacity: 1;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

.main-menu-button {
  transform: translate3d(0, calc(0px - constant(safe-area-inset-bottom)), 0);
  transform: translate3d(0, calc(0px - env(safe-area-inset-bottom)), 0);
}

[id] {
  scroll-margin: 4rem 0 0 0;
}

@layer utilities {
  .prose {
    max-width: 75ch;

    & [class~='lead'] {
      @apply text-justify text-gray-800 font-serif text-base font-bold tracking-wide lg:text-lg;
      word-spacing: theme('spacing[0.5]');
      text-indent: 0;
    }

    & p {
      text-indent: 2rem;
      hyphens: auto;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      @apply my-0 text-justify font-serif font-normal leading-relaxed lg:text-lg lg:leading-relaxed;
    }

    &.prose-xl p {
      @apply my-0;
      text-indent: 3rem;
    }

    & a {
      @apply text-blue-500 no-underline font-bold tracking-tight;
    }

    & blockquote {
      quotes: auto;
      @apply relative text-transparent bg-no-repeat bg-clip-text;
      @apply -ml-7 -mr-7 pl-8 pr-8 py-4 border-b border-l-0 border-r-0 border-t border-b-blue-500 border-t-pink-500 sm:-ml-6 sm:-mr-32 sm:pr-32 md:-mr-32 lg:-mr-12 lg:pr-20;

      &,
      &::before {
        @apply bg-gradient-to-t from-blue-500 to-pink-500;
      }

      &::before {
        content: '';
        @apply absolute left-0 top-0 block w-2 h-full;
      }

      & br {
        content: '';
        @apply my-[1ex] block;
      }
    }

    &.prose-xl blockquote {
      @apply pl-8;
    }

    & blockquote p,
    & :is(ol, ul) p {
      @apply text-left;
      text-indent: 0;
      hyphens: none;
      -ms-hyphens: none;
      -moz-hyphens: none;
      -webkit-hyphens: none;
    }

    &.prose-xl :is(ol, ul),
    & :is(ol, ul) {
      @apply mt-3;
      @apply counter-reset;
    }

    & :is(ol, ul) {
      & > li {
        @apply counter-increment pt-[0.5ex] my-0 font-serif leading-normal;
      }
    }

    & :is(ol, ul) {
      & p {
        @apply contents;
      }
    }

    & ol > li {
      @apply before:counter-result before:text-stroke before:top-0 my-0 before:font-sans before:text-4xl before:proportional-nums before:font-semibold before:leading-none;
    }

    & strong {
      /* margin: 0 -0.4em;
      padding: 0.1em 0.4em;
      border-radius: 0.8em 0.3em;
      background: transparent;
      background-image: linear-gradient(
        to right,
        rgba(255, 225, 0, 0.1),
        rgba(255, 225, 0, 0.7) 4%,
        rgba(255, 225, 0, 0.3)
      );
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; */

      background: linear-gradient(
          104deg,
          rgba(130, 255, 173, 0) 0.9%,
          rgba(130, 255, 173, 1.25) 2.4%,
          rgba(130, 255, 173, 0.5) 5.8%,
          rgba(130, 255, 173, 0.1) 93%,
          rgba(130, 255, 173, 0.7) 96%,
          rgba(130, 255, 1732, 0) 98%
        ),
        linear-gradient(183deg, rgba(130, 255, 173, 0) 0%, rgba(130, 255, 173, 0.3) 7.9%, rgba(130, 255, 173, 0) 15%);
      padding: 0.1em 0.4em;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      margin: 0;
      border-radius: 7.5px;
      text-shadow: -12px 12px 9.8px rgba(130, 255, 173, 0.7), 21px -18.1px 7.3px rgba(255, 255, 255, 1),
        -18.1px -27.3px 30px rgba(255, 255, 255, 1);
    }

    & img {
      @apply hover:shadow-md shadow-sm transition-shadow;
    }
  }

  :is(.prose, .prose.prose-xl) {
    & figure {
      & img {
        @apply mb-0;
      }
      & figcaption p {
        @apply indent-0 text-center text-gray-700 text-sm;
      }
    }
  }

  .prose p,
  li,
  blockquote {
    @apply text-base lg:text-lg;
  }

  @supports (background-image: paint(fancyLinkUnderline)) {
    .prose a,
    .fancy-inner-link {
      display: inline;
      padding-bottom: 9px;
      text-indent: 0;
      background-size: 100% 9px;
      background-repeat: no-repeat;
      background-position: bottom left;
    }

    @property --fancy-animation-color {
      syntax: '<color>';
      initial-value: theme('colors.blue.500');
      inherits: false;
    }
    @property --fancy-animation-progress {
      syntax: '<number>';
      initial-value: 0;
      inherits: false;
    }

    .prose .inner-link,
    .fancy-inner-link {
      background-image: paint(fancyLinkUnderline);
      background-position: bottom left;
      padding-bottom: 9px;
      transition: --fancy-animation-progress 0.6s cubic-bezier(0.7, 0, 0.3, 1);
      --fancy-animation-progress: 0;
    }

    .prose .inner-link:hover,
    .fancy-inner-link:hover {
      --fancy-animation-progress: 1;
    }
  }

  @supports (not (background-image: paint(fancyLinkUnderline))) {
    .prose a:hover,
    .fancy-link:hover {
      text-decoration: underline;
    }
  }
}

a,
button {
  @apply transition-shadow;
}

:focus,
select:focus {
  outline: 0;
  @apply border-blue-200 ring ring-blue-100 ring-opacity-50 ring-offset-2;
}

a:focus {
  @apply underline ring-offset-0;
}

progress {
  position: relative;
  @apply animate-appear;

  &::-webkit-progress-bar {
    @apply bg-gray-200;
  }
  &::-moz-progress-bar {
    @apply bg-gray-200;
  }

  &::-webkit-progress-value {
    @apply bg-gradient-to-r from-blue-500 to-pink-500 transition-all ease-out;
    background-size: 100vw;
  }
}

.katex {
  & .katex-html > .newline + .newline {
    min-height: 0.5em;
  }

  & .mfrac .frac-line {
    border-color: currentColor;
  }
}

.math {
  white-space: nowrap;

  & .katex-html {
    white-space: normal;
  }
}

.aligncenter {
  @apply mx-auto;
}

.regulations {
  font-size: 90%;
  text-indent: 0 !important;

  & li::before {
    content: none !important;
  }

  & li {
    padding-left: 1rem !important;
  }

  & ol {
    margin-top: 0 !important;
  }

  & ol {
    list-style-type: upper-roman;
  }

  & ol ol {
    list-style-type: decimal;
  }

  & ol ol ol {
    list-style-type: lower-alpha;
  }

  & ol ol ol ol {
    list-style-type: decimal;
  }

  & ol ol ol ol ol {
    list-style-type: lower-roman;
  }

  & ol ol ol ol ol ol {
    list-style-type: upper-latin;
  }

  & ol h2,
  & ol h3 {
    display: inline-block;
    font-size: 100%;
    font-weight: 900;
  }
}
